<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "BicraveTonChaton", root_path, :class => "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

    <% if current_user == nil %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
      <div class="dropdown">
        <form class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">S'inscrire / Se connecter</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" <%= link_to "Se connecter", new_user_session_path, :class => "nav-item nav-link" %></a>
            <a class="dropdown-item" <%= link_to "S'inscrire", new_user_registration_path, :class => "nav-item nav-link" %></a>
          </div>
        </form>
    <% else %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <a class="nav-item nav-link"  <%= link_to "Mon panier", cart_path(current_user.id), :class => "nav-item nav-link" %></a>
      </li>
    </ul>
      <form class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon profil</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" <%= link_to "Mon profil", user_path(current_user.id), :class => "nav-item nav-link" %></a>
          <a class="dropdown-item" <%= link_to "Se déconnecter", destroy_user_session_path, :class => "btn btn-outline-light", :method => 'DELETE' %></a>
        </div>
      </form>
    <% end %>
    
  </div>
</nav>